<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/media/goods/images/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>
        {% block ticle %}
        {% endblock %}
    </title>
    {% block extCss %}
    {% endblock %}

    {% block extJs %}
    {% endblock %}

    {% block extJs2 %}
    {% endblock %}


</head>
    <body>

        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
