{% extends  'web/base_main.html' %}

{% block ticle %}
    天天生鲜-商品详情
{% endblock %}

{% block content %}
    {% load static %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
				<ul class="subnav">
					<li><a href="{% url 'goods:list' 0 1 1 %}" class="fruit">新鲜水果</a></li>
					<li><a href="{% url 'goods:list' 0 2 1 %}" class="seafood">海鲜水产</a></li>
					<li><a href="{% url 'goods:list' 0 3 1 %}" class="meet">猪牛羊肉</a></li>
					<li><a href="{% url 'goods:list' 0 4 1 %}" class="egg">禽类蛋品</a></li>
					<li><a href="{% url 'goods:list' 0 5 1 %}" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="{% url 'goods:list' 0 6 1 %}" class="ice">速冻食品</a></li>
				</ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'user:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="{% url 'goods:list' 0 0 1 %}">全部商品</a></li>
				<li class="interval">|</li>
				<li><a href=""></a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' 0 goods.category_id 1 %}">
            {{ goods.category.get_category_type_display }}
        </a>
        <span>></span>
        {{ goods.name }}
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ goods.goods_front_image }}" width="100%" height="100%"></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.name }}</h3>
            <p>{{ goods.goods_brief }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ goods.shop_price }}</em></span>
                <span class="show_unit">单  位：{{ goods.market_price }}g</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>

                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1" onblur="change_goods({{ goods.shop_price }},parseInt($('.num_show').val()))">
                    <a href="javascript:;" class="add fr" onclick="add_goods({{ goods.shop_price }});">+</a>
                    <a href="javascript:;" class="minus fr" onclick="sub_goods({{ goods.shop_price }});">-</a>
                </div>
                {#库存#}
                <input id="ku" style="display:none;" value="{{ goods.goods_names }}">

                <div class="popup_con">
                    <div class="popup">
                        <p>加入购物车成功！</p>
                    </div>
                    <div class="mask"></div>
                </div>

                <div class="num_name fl" style="margin-left:50px;">库 存：</div>
                <div class="num_name fl" style="text-align:center;">
                    {{ goods.goods_nums }}
                </div>
            </div>
            <div class="total">总价：<em>{{ goods.shop_price }}元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn" onclick="at_once({{ goods.id }})">立即购买</a>
                {% csrf_token %}
                <a onclick="add_cart({{ goods.id }});" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for goods in goods_new %}
					<li>
						<a href="/goods/goods_detail/{{ goods.id }}/"><img src="{{ goods.goods_front_image }}"></a>
						<h4><a href="/goods/goods_detail/{{ goods.id }}/">{{ goods.name }}</a></h4>
						<div class="prize">￥{{ goods.shop_price }}</div>
					</li>
					{% endfor %}
				</ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ goods.goods_desc }}</dd>
                </dl>
            </div>

        </div>
    </div>

    <script type="text/javascript">

        {#商品数量增加#}
        function add_goods(price) {
            var kucun = parseInt($('.num_name').eq(2).text());
            var goods_num = parseInt($('.num_show').val());
            {#计算总价#}
            if (goods_num < kucun) {
                $('.num_show').val(goods_num + 1);
                var total_price = (goods_num + 1) * price;
                $('.total em').html(total_price.toFixed(1) + '元')
            }
        }

        {#商品减少#}
        function sub_goods(price) {
            var goods_num = $('.num_show').val();

            if (goods_num > 1) {
                $('.num_show').val(goods_num - 1);
                var total_price = (goods_num - 1) * price;
                $('.total em').html(total_price.toFixed(1) + '元')
            }
        }

        {#直接修改input框里的数量#}
        function change_goods(price,num) {
            var goods_num = $('.num_show').val();
            {#计算总价#}
            $('.num_show').val(num);
            var total_price = num * price;
            $('.total em').html(total_price.toFixed(1) + '元')
        }

        {#添加购物车#}
        function add_cart(goods_id) {

            goods_num = $('.num_show').val();
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: '/cart/add_cart/',
                type: 'POST',
                data: {'goods_id': goods_id, 'goods_num': goods_num},
                dataType: 'json',
                headers: {'X-CSRFToken': csrf},
                success: function (data) {
                    if (data.code == 200) {
                        {#获取现页面数量动态增加#}
                        num = parseInt($('#show_count').text())+parseInt(goods_num);
                        $('#show_count').html(num);

                        {#加入购物车成功弹窗#}
                        $('.popup_con').fadeIn('fast', function() {

                            setTimeout(function(){
                                $('.popup_con').fadeOut('fast',function(){
                                });
                            },500)

                        });
                    }
                }
            });


        }


        {#  立即购买（加入购物车版）#}
        {#function at_once(goods_id) {#}
        {##}
        {#  先加入购物车，成功后跳转购物车界面#}
        {#    add_cart(goods_id);#}
        {##}
        {#    csrf = $('input[name="csrfmiddlewaretoken"]').val();#}
        {#    goods_id_str = '['+goods_id+']';#}
        {##}
        {#    $.ajax({#}
        {#        url: '/cart/is_select/',#}
        {#        type: 'POST',#}
        {#        data: {'goods_list_str': goods_id_str},#}
        {#        datatype: 'json',#}
        {#        headers: {'X-CSRFToken': csrf},#}
        {#        success: function (data) {#}
        {#            if (data.code == 200) {#}
        {#                window.location.href = '/cart/cart/'#}
        {#            }#}
        {#        }#}
        {##}
        {##}
        {#    })#}
        {# }#}

        {#立即购买，跳转结算#}
        function at_once(goods_id) {
            $.getJSON('/user/is_login/', function (data) {
                if (data.code == 200) {
                    var goods_num = $('.num_show').val();
                    window.location.href = '/order/place_order/?goods_id='+goods_id+'&goods_num='+goods_num
                }else {
                    window.location.href = '/user/login/'
                }
            })
        }


    </script>
{% endblock %}
